<section style="padding-top:50px;" id="houses">
<% if @houses.size == 0 %>
  <h2 style="margin-left: 20%;" class="add">To get started, click on "Add New House" above...</h2>
<% else %>
  <%= render @houses %>
<% end %>
</section>
